:root {
    --bg-color-light-start: #f5f5f5;
    --bg-color-light-end: #ffffff;
    --bg-color-dark-start: #444444;
    --bg-color-dark-end: #111111;
    --text-color-light: #000000;
    --text-color-dark: #ffffff;
    --accent-color-light: #ff2a2a;
    --accent-color-dark: #b22222;
}


body {
    font-family: 'Berkeley Mono', monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background 0.3s, color 0.3s;
}

body.day-mode {
    background: linear-gradient(to bottom, var(--bg-color-light-start), var(--bg-color-light-end));
    color: var(--text-color-light);
}

body.night-mode {
    background: linear-gradient(to bottom, var(--bg-color-dark-start), var(--bg-color-dark-end));
    color: var(--text-color-dark);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer {
    padding: 20px;
    text-align: center;
}

.logo-link {
    display: inline-block;
    transition: transform 0.3s ease;
}

.logo-link:hover {
    transform: scale(1.5);
}

.logo {
    width: 40px;
    height: 40px;
}

.mode-toggle {
    cursor: pointer;
}

.mode-icon {
    fill: currentColor;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.title {
    font-family: 'Trajan Pro', serif;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    transition: font-size 0.3s ease;
}

.title:hover {
    font-size: 3.25rem;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.enter-btn {
    font-size: 1rem;
    padding: 10px 20px;
    background: linear-gradient(to bottom, var(--accent-color-light), var(--accent-color-dark));
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
}

.enter-btn:hover {
    transform: scale(1.1);
    background: linear-gradient(to bottom, var(--accent-color-dark), var(--accent-color-light));
}

.footer-nav {
    margin-bottom: 1rem;
}

.footer-nav a {
    margin: 0 10px;
    color: inherit;
    text-decoration: none;
    transition: transform 0.3s ease, font-size 0.3s ease;
}

.footer-nav a:hover {
    transform: scale(1.1);
    font-size: 1.1em;
}

#center-logo {
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

#center-logo:hover {
    transform: scale(1.5);
}

.expandable-logo {
    width: 100px;
    height: 100px;
}

@media (max-width: 600px) {
    .title {
        font-size: 2rem;
    }
    .subtitle {
        font-size: 1.2rem;
    }
}
